body{
	padding-top: 80px;
	padding-bottom: 30px;
}

.navbar-brand span.glyphicon{
	margin-right: 5px;
}

.btn-xs, .btn-group-xs>.btn{
	font-size: 10px;
}

#new-task-text{
	margin-bottom: 5px;
}
